input[type="text"].field {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);

    /* Set the background color */
    background-color: rgb(255, 255, 255);
    /* Set the border style */
    border-style: solid;
    /* Set the border color */
    border-color: rgba(84, 105, 212, 0.12) !important;
    /* Set the border width */
    border-width: 0.5px;

    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(84, 105, 212, 0.56) 0 0 0 2.5px,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0;

    -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(84, 105, 212, 0.56) 0 0 0 2.5px,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0;

    -webkit-appearance: none;
}

.suggestions {
    display: none;
    background-color: white;
    border: 1px solid gray;
    width: 100%;
}

.suggestions div {
    padding: 5px;
    cursor: pointer;
}

.suggestions div:hover {
    background-color: lightgray;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}
@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}
@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}
.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

table#dataTable {
  display: none;
}

.dataTables_wrapper {
  padding-top: 3rem;
}

@media (max-width: 700px) {
  .dataTable {
    display: block;
    max-width: 100%;
    overflow-x: auto;
  }
}

/* Tooltip Styles */
input[type="checkbox"]:disabled + label {
  color: #999;
  cursor: not-allowed;
}

input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

.custom-swal-html-container {
  width: 50em;
}

.rules-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rules-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.rules-container ul {
  list-style-type: disc;
  margin-left: 0;
  padding-left: 2em;
  padding-right: 0.5em;
  text-align: left;
}

.rules-container li {
  margin-bottom: 8px;
}

.header_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logoutButton {
  margin-left: auto;
  margin-bottom: 1.5rem;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;

  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  opacity: 0.8;
}

.btn-danger:focus,
.btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.excel-button {
  background-color: #1F7145;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.excel-button:hover {
  opacity: 0.8;
}

p#export {
  display: block;
}

.fa-solid {
  vertical-align: middle;
}

#dataTable {
  border-collapse: collapse;
}

#dataTable th,
#dataTable td {
  border-right: 1px solid #e0e0e0;
}

#dataTable th:last-child,
#dataTable td:last-child {
  border-right: none;
}

.band-list {
  padding-left: 0px;
  list-style-position: inside;
}

.band-list li {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

@media (min-width: 700px) {
  .onlymobile {
    display: none;
  }
}
