a.button {
  color: #FFF !important;
  text-decoration: none;
  text-align: center;
  margin: 0.1rem 0 0.1rem 0;
  border-radius: 5px;
  width: 120px;
}

.button {
  background-color: #333333;
  border: black;
}

.button:hover {
  background-color: black
}